* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-img {
    background: url(https://images.pexels.com/photos/461940/pexels-photo-461940.jpeg);
    height: 150vh;
    background-size: cover;
    background-position: center;
}

.bg-img::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 150%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 999;
    width: 370px;
    text-align: center;
    padding: 60px 32px;
    background: rgba(255, 255, 255, 0.04);
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
}

.content header {
    color: #fff;
    font-size: 33px;
    font-weight: 600;
    margin: 0 0 35px 0;
    font-family: 'Poppins', sans-serif;
}

.field {
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background: rgba(255, 255, 255, 0.94);
}

.field span {
    color: #222;
    width: 40px;
    line-height: 45px;
    padding: 0 10px;
}

.field input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}



.space {
    margin-top: 16px;
}

.pass {
    text-align: left;
    margin: 10px 0;
}

.pass a {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-decoration: none !important;
}

.pass:hover a {
    text-decoration: underline;
    color:#fff;
}

input[type="submit"] {
    background: linear-gradient(to right, #0000ff 0%, #6666ff 100%);
    border: 1px solid linear-gradient(to right, #0000ff 0%, #6666ff 100%);
    ;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

input[type="submit"]:hover {
    background: linear-gradient(to left, #0000ff 0%, #6666ff 100%);
}

.login {
    color: #fff;
    margin: 20px 0;
    font-family: 'Poppins', sans-serif;
}

.link {
    display: flex;
    cursor: pointer;
    color: #fff;
    margin: 0 0 20px 0;
}

.facebook,
.instagram {
    width: 100%;
    height: 45px;
    line-height: 45px;
    margin-top: 10px;
    margin-left: 10px;
}

.facebook {
    margin-left: 0px;
    background: #4267B2;
    border: 1px solid #3e61a8;
}

.instagram {
    background: linear-gradient(to right, #9900cc 0%, #ff3399 100%);
    border: 1px solid linear-gradient(to right, #9900cc 0%, #ff3399 100%);
}

.facebook:hover {
    background: #3e61a8;
}

.instagram:hover {
    background: linear-gradient(to left, #9900cc 0%, #ff3399 100%);
}

.link i {
    font-size: 17px;
}

.link span {
    font-size: 15px;
    margin-left: 8px;

    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.signup {
    color: #fff;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.signup a {
    color: #37ff00;
    text-decoration: none !important;
}

.signup a:hover {
    text-decoration: underline;
    color: #fff;
}